/*Menu colapsado*/
.collapse-navbar
{
    text-align: center;
}
/*Menu colapsado*/

/*Estilos de pagina*/
.estilos-de-pagina
{
    margin-inline-start: auto;
}
/*Estilos de pagina*/

/*Selector de idioma*/
.en
{
    color: #fff;
}
.es
{
    color: #fff;
}
.checkIdioma
{
    position: relative;
    width: 50px;
}
.checkIdioma::before
{
    content: '';
    position: absolute;
    width: 50px;
    height: 25px;
    background: #333;
    border-radius: 25px;
}
.checkIdioma::after
{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 25px;
    transition: 0.25s;
    border: 2px solid #333;
    box-sizing: border-box;
}
.checkIdioma:checked:after
{
    left: 25px;
    border: 2px solid #00a1ff;
}
.checkIdioma:checked:before
{
    background: #00a1ff;
}
/*Selector de idioma*/

/*Selector de tipo de pagina*/
.paginaWeb
{
    color: #fff;
}
.paginaJuego
{
    color: #fff;
}
.checkTipoPagina
{
    position: relative;
    width: 50px;
}
.checkTipoPagina::before
{
    content: '';
    position: absolute;
    width: 50px;
    height: 25px;
    background: #333;
    border-radius: 25px;
}
.checkTipoPagina::after
{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 25px;
    transition: 0.25s;
    border: 2px solid #333;
    box-sizing: border-box;
}
.checkTipoPagina:checked:after
{
    left: 25px;
    border: 2px solid #00a1ff;
}
.checkTipoPagina:checked:before
{
    background: #00a1ff;
}
/*Selector de tipo de pagina*/

/*Estilos de pagina*/
.estilos-de-pagina
{
    margin-inline-start: auto;
}
/*Estilos de pagina*/

/*Selector de idioma jugable*/
.en
{
    color: #fff;
}
.es
{
    color: #fff;
}
.checkIdiomaJugable
{
    position: relative;
    width: 50px;
}
.checkIdiomaJugable::before
{
    content: '';
    position: absolute;
    width: 50px;
    height: 25px;
    background: #333;
    border-radius: 25px;
}
.checkIdiomaJugable::after
{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 25px;
    transition: 0.25s;
    border: 2px solid #333;
    box-sizing: border-box;
}
.checkIdiomaJugable:checked:after
{
    left: 25px;
    border: 2px solid #00a1ff;
}
.checkIdiomaJugable:checked:before
{
    background: #00a1ff;
}
/*Selector de idioma jugable*/

/*Footer paginas*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0e6efd;
    color: white;
    text-align: center;
  }
/*Footer paginas*/

/*Paginas*/
.titulo-de-pagina
{
    text-align: center;
    font-size: 5em;
    color: #ec212a;
}
/*Paginas*/

/*Cards*/
.imagenes-cards
{
    height: 300px;
    align-self: center;
    background-color: white;
}
.titulo-cartas
{
    text-align: center;
}
.boton-cartas
{
    min-inline-size: -webkit-fill-available;
}
/*Cards*/

/*Contenido*/
.contenido
{
    margin: 10px;;
}
/*Contenido*/

/*Imagenes Carrusel*/
.imgenCarrusel
{
    width: 98vw!important;
    height: 700px;
}
/*Imagenes Carrusel*/

/*Textos contenido*/
.textosContenido
{
    margin: 10px;
}
/*Textos contenido*/

/*Acronimo Megaswav*/
.acronimoMegaswav
{
    text-align: center;
}
.acronimoImgMegaswav
{
    width: 500px;
}
/*Acronimo Megaswav*/